<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ROOT_LOG_REF"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[ %-5level] [%d{yy-MM-dd HH:mm:ss SSS}] [%thread] [%logger{10}:%line] - %msg%n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="ROOT_LOG_REF"/>
    </root>

</configuration>